.gmaster-page{
    button, .button{
        border:0; background-color:#1a73e8; color:#fff; font-size:.875rem; border-radius:4px;
        width:auto !important; height:30px !important; padding:0 16px; line-height:2.1; display:inline-block;
        &:hover{text-decoration:none; background-color:#0053ff; cursor:pointer;}

        &.btn-warn{background-color:#ff6a00;
            &:hover{background-color:#ff4e00;}
        }

        &.btn-cancel{background-color:#ff0000;
            &:hover{background-color:#ff3e00;}
        }
    }
}