/* //////////////////////////////////////////////////////////////////////// */
/* Gmaster-Content */
.gmaster-content {
  width: 100%;
  /* Modal */
  /* Message (Modal) */
}
.gmaster-content .modal {
  position: fixed;
  z-index: 9999;
  top: 20%;
  padding: 20px;
  margin: 0 auto;
  max-width: 440px;
  left: 10%;
  right: 10%;
  background: #fff;
  border-radius: 4px;
  box-shadow: 4px 0px 20px 0px rgba(0, 0, 0, 0.5);
  /* form error message */
}
.gmaster-content .modal .max-height {
  overflow-y: auto;
  overflow-x: hidden;
  max-height: 600px;
}
.gmaster-content .modal .msg {
  display: none;
  margin: 0 0 10px 0;
  font-size: 16px;
  padding: 5px 10px;
}
.gmaster-content .modal .msg.show {
  display: block;
}
.gmaster-content .modal .msg.error {
  background-color: #f0c1c1;
  color: #880000;
}
.gmaster-content .modal-bg {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 9998;
  background: rgba(0, 0, 0, 0.25);
}
.gmaster-content .auth-frame {
  width: 100%;
  height: 100%;
  border: none;
  overflow: hidden;
}
.gmaster-content .message {
  text-align: center;
}
.gmaster-content .message .buttons {
  padding: 15px 0;
  width: 100%;
}
.gmaster-content .message .buttons.disabled {
  opacity: 0.2;
}
.gmaster-content .message .foot-note {
  display: block;
  font-size: 15px;
  font-weight: 400;
  width: 100%;
  text-align: center;
  padding: 0 0 25px 0;
}
.gmaster-content .message .button:nth-child(n+2) {
  margin-left: 10px;
}
.gmaster-page,
.gmaster-content,
.gmaster {
  /* Buttons */
}
.gmaster-page .col,
.gmaster-content .col,
.gmaster .col {
  display: inline-block;
  float: left;
  position: relative;
  box-sizing: border-box;
}
.gmaster-page .col.two,
.gmaster-content .col.two,
.gmaster .col.two {
  width: 16.41%;
}
.gmaster-page .col.three,
.gmaster-content .col.three,
.gmaster .col.three {
  width: 25%;
}
.gmaster-page .col.four,
.gmaster-content .col.four,
.gmaster .col.four {
  width: 33.333339%;
}
.gmaster-page .col.six,
.gmaster-content .col.six,
.gmaster .col.six {
  width: 50%;
}
.gmaster-page .col.eight,
.gmaster-content .col.eight,
.gmaster .col.eight {
  width: 66.66669%;
}
.gmaster-page .col.field,
.gmaster-content .col.field,
.gmaster .col.field {
  font-weight: 400;
  padding: 10px 10px 0 0;
  width: 80px;
  text-align: right;
  cursor: default;
}
.gmaster-page .col.field.long,
.gmaster-content .col.field.long,
.gmaster .col.field.long {
  width: 120px;
}
.gmaster-page .col.field.longer,
.gmaster-content .col.field.longer,
.gmaster .col.field.longer {
  width: 150px;
}
.gmaster-page .col.input,
.gmaster-content .col.input,
.gmaster .col.input {
  padding: 5px 15px 5px 0;
}
.gmaster-page .col.input.expand input,
.gmaster-content .col.input.expand input,
.gmaster .col.input.expand input {
  width: 100%;
  box-sizing: border-box;
}
.gmaster-page .col.input.expand input[type="checkbox"],
.gmaster-content .col.input.expand input[type="checkbox"],
.gmaster .col.input.expand input[type="checkbox"] {
  width: 18px;
}
.gmaster-page .col.input .input,
.gmaster-content .col.input .input,
.gmaster .col.input .input {
  padding: 0;
}
.gmaster-page .col.input input[type="checkbox"],
.gmaster-content .col.input input[type="checkbox"],
.gmaster .col.input input[type="checkbox"] {
  margin-top: 5px;
}
.gmaster-page .col.field.input,
.gmaster-content .col.field.input,
.gmaster .col.field.input {
  padding: 5px 10px 5px 0;
}
.gmaster-page .col.field.input input,
.gmaster-content .col.field.input input,
.gmaster .col.field.input input {
  width: 100%;
  box-sizing: border-box;
  text-align: right;
}
.gmaster-page .row,
.gmaster-content .row,
.gmaster .row {
  width: 100%;
  box-sizing: border-box;
  position: relative;
}
.gmaster-page .row:after,
.gmaster-content .row:after,
.gmaster .row:after {
  clear: both;
  display: block;
  content: '';
  font-size: 0;
}
.gmaster-page .row.hover:hover,
.gmaster-content .row.hover:hover,
.gmaster .row.hover:hover {
  background-color: rgba(0, 83, 255, 0.15);
}
.gmaster-page .row .hover-only,
.gmaster-content .row .hover-only,
.gmaster .row .hover-only {
  visibility: hidden;
}
.gmaster-page .row:hover .hover-only,
.gmaster-content .row:hover .hover-only,
.gmaster .row:hover .hover-only {
  visibility: visible;
}
.gmaster-page .row.long .field,
.gmaster-content .row.long .field,
.gmaster .row.long .field {
  width: 120px;
}
.gmaster-page .row.longer .field,
.gmaster-content .row.longer .field,
.gmaster .row.longer .field {
  width: 150px;
}
.gmaster-page .row.expand .input:not(.field),
.gmaster-content .row.expand .input:not(.field),
.gmaster .row.expand .input:not(.field) {
  width: calc(100% - 80px);
}
.gmaster-page .row.expand .input:not(.field) input,
.gmaster-content .row.expand .input:not(.field) input,
.gmaster .row.expand .input:not(.field) input {
  width: 100%;
  box-sizing: border-box;
}
.gmaster-page .row.expand .input:not(.field) input[type="checkbox"],
.gmaster-content .row.expand .input:not(.field) input[type="checkbox"],
.gmaster .row.expand .input:not(.field) input[type="checkbox"] {
  width: 18px;
}
.gmaster-page .row.expand.long .input:not(.field),
.gmaster-content .row.expand.long .input:not(.field),
.gmaster .row.expand.long .input:not(.field) {
  width: calc(100% - 120px);
}
.gmaster-page .row.expand.longer .input:not(.field),
.gmaster-content .row.expand.longer .input:not(.field),
.gmaster .row.expand.longer .input:not(.field) {
  width: calc(100% - 150px);
}
.gmaster-page .row.expand .input:not(.field) .input,
.gmaster-content .row.expand .input:not(.field) .input,
.gmaster .row.expand .input:not(.field) .input {
  width: 100%;
}
.gmaster-page button,
.gmaster-content button,
.gmaster button,
.gmaster-page .button,
.gmaster-content .button,
.gmaster .button {
  background-color: #1a73e8;
  color: #fff;
  font-size: 0.875rem;
  border-radius: 4px;
  text-decoration: none;
  border: 0;
  outline: 0;
  font-weight: 400;
  line-height: 2.1;
  width: auto !important;
  height: 30px !important;
  padding: 0 16px !important;
  display: inline-block;
}
.gmaster-page button:hover,
.gmaster-content button:hover,
.gmaster button:hover,
.gmaster-page .button:hover,
.gmaster-content .button:hover,
.gmaster .button:hover {
  text-decoration: none;
  background-color: #0053ff;
  cursor: pointer;
}
.gmaster-page button.apply,
.gmaster-content button.apply,
.gmaster button.apply,
.gmaster-page .button.apply,
.gmaster-content .button.apply,
.gmaster .button.apply {
  background: #00a128;
}
.gmaster-page button.apply:hover,
.gmaster-content button.apply:hover,
.gmaster button.apply:hover,
.gmaster-page .button.apply:hover,
.gmaster-content .button.apply:hover,
.gmaster .button.apply:hover {
  background: #00b351;
}
.gmaster-page button.btn-warn,
.gmaster-content button.btn-warn,
.gmaster button.btn-warn,
.gmaster-page .button.btn-warn,
.gmaster-content .button.btn-warn,
.gmaster .button.btn-warn {
  background-color: #ff6a00;
}
.gmaster-page button.btn-warn:hover,
.gmaster-content button.btn-warn:hover,
.gmaster button.btn-warn:hover,
.gmaster-page .button.btn-warn:hover,
.gmaster-content .button.btn-warn:hover,
.gmaster .button.btn-warn:hover {
  background-color: #ff4e00;
}
.gmaster-page button.btn-cancel,
.gmaster-content button.btn-cancel,
.gmaster button.btn-cancel,
.gmaster-page .button.btn-cancel,
.gmaster-content .button.btn-cancel,
.gmaster .button.btn-cancel {
  background-color: #666;
}
.gmaster-page button.btn-cancel:hover,
.gmaster-content button.btn-cancel:hover,
.gmaster button.btn-cancel:hover,
.gmaster-page .button.btn-cancel:hover,
.gmaster-content .button.btn-cancel:hover,
.gmaster .button.btn-cancel:hover {
  background-color: #ff3e00;
}
.gmaster-page button.btn-special,
.gmaster-content button.btn-special,
.gmaster button.btn-special,
.gmaster-page .button.btn-special,
.gmaster-content .button.btn-special,
.gmaster .button.btn-special {
  background-color: #3da954;
}
.gmaster-page button.btn-special:hover,
.gmaster-content button.btn-special:hover,
.gmaster button.btn-special:hover,
.gmaster-page .button.btn-special:hover,
.gmaster-content .button.btn-special:hover,
.gmaster .button.btn-special:hover {
  background-color: #44c05e;
}
.gmaster-page button.btn-delete,
.gmaster-content button.btn-delete,
.gmaster button.btn-delete,
.gmaster-page .button.btn-delete,
.gmaster-content .button.btn-delete,
.gmaster .button.btn-delete {
  background-color: #eb5d0b;
}
.gmaster-page button.btn-delete:hover,
.gmaster-content button.btn-delete:hover,
.gmaster button.btn-delete:hover,
.gmaster-page .button.btn-delete:hover,
.gmaster-content .button.btn-delete:hover,
.gmaster .button.btn-delete:hover {
  background-color: #ff3e00;
}
.gmaster-page button.faded,
.gmaster-content button.faded,
.gmaster button.faded,
.gmaster-page .button.faded,
.gmaster-content .button.faded,
.gmaster .button.faded {
  opacity: 0.5;
}
.gmaster-page button.faded:hover,
.gmaster-content button.faded:hover,
.gmaster button.faded:hover,
.gmaster-page .button.faded:hover,
.gmaster-content .button.faded:hover,
.gmaster .button.faded:hover {
  opacity: 1;
}
.gmaster-page button.outline,
.gmaster-content button.outline,
.gmaster button.outline,
.gmaster-page .button.outline,
.gmaster-content .button.outline,
.gmaster .button.outline {
  background-color: transparent;
  border-width: 2px;
  border-style: solid;
  border-color: #1a73e8;
  color: #1a73e8;
}
.gmaster-page button.outline:hover,
.gmaster-content button.outline:hover,
.gmaster button.outline:hover,
.gmaster-page .button.outline:hover,
.gmaster-content .button.outline:hover,
.gmaster .button.outline:hover {
  border-color: #0053ff;
  color: #0053ff;
  cursor: pointer;
}
.gmaster-page button.outline.font-icon,
.gmaster-content button.outline.font-icon,
.gmaster button.outline.font-icon,
.gmaster-page .button.outline.font-icon,
.gmaster-content .button.outline.font-icon,
.gmaster .button.outline.font-icon {
  padding: 10px 7px 0 7px !important;
  font-size: 24px;
  height: 13px !important;
  line-height: 0;
}
.gmaster-page button.outline.fill,
.gmaster-content button.outline.fill,
.gmaster button.outline.fill,
.gmaster-page .button.outline.fill,
.gmaster-content .button.outline.fill,
.gmaster .button.outline.fill {
  background-color: #fff;
}
.gmaster-page button.outline.btn-delete,
.gmaster-content button.outline.btn-delete,
.gmaster button.outline.btn-delete,
.gmaster-page .button.outline.btn-delete,
.gmaster-content .button.outline.btn-delete,
.gmaster .button.outline.btn-delete {
  border-color: #eb5d0b;
  color: #eb5d0b;
}
.gmaster-page button.outline.btn-delete:hover,
.gmaster-content button.outline.btn-delete:hover,
.gmaster button.outline.btn-delete:hover,
.gmaster-page .button.outline.btn-delete:hover,
.gmaster-content .button.outline.btn-delete:hover,
.gmaster .button.outline.btn-delete:hover {
  border-color: #ff3e00;
  color: #ff3e00;
}
.gmaster-page button.outline.btn-delete.fill:hover,
.gmaster-content button.outline.btn-delete.fill:hover,
.gmaster button.outline.btn-delete.fill:hover,
.gmaster-page .button.outline.btn-delete.fill:hover,
.gmaster-content .button.outline.btn-delete.fill:hover,
.gmaster .button.outline.btn-delete.fill:hover {
  background-color: #ffd4d4;
}
.gmaster-page .delete-button,
.gmaster-content .delete-button,
.gmaster .delete-button {
  position: absolute;
  left: 5px;
  top: 6px;
  z-index: 9999;
}
.gmaster-page .new-field .delete-button,
.gmaster-content .new-field .delete-button,
.gmaster .new-field .delete-button {
  top: 40px;
}
.gmaster-page ul,
.gmaster-content ul,
.gmaster ul {
  margin-block-start: 0;
  margin-block-end: 0;
  padding-inline-start: 0;
}
.gmaster-page h1,
.gmaster-content h1,
.gmaster h1,
.gmaster-page h2,
.gmaster-content h2,
.gmaster h2,
.gmaster-page h3,
.gmaster-content h3,
.gmaster h3,
.gmaster-page h4,
.gmaster-content h4,
.gmaster h4,
.gmaster-page h5,
.gmaster-content h5,
.gmaster h5,
.gmaster-page h6,
.gmaster-content h6,
.gmaster h6 {
  margin-block-start: 0;
  margin-block-end: 10px;
}
.gmaster-page label,
.gmaster-content label,
.gmaster label {
  padding: 0 10px 0 0;
}
.gmaster-page input,
.gmaster-content input,
.gmaster input,
.gmaster-page select,
.gmaster-content select,
.gmaster select {
  padding: 4px 8px;
  border: 1px solid #999;
  outline: none;
}
.gmaster-page input[type="checkbox"],
.gmaster-content input[type="checkbox"],
.gmaster input[type="checkbox"] {
  width: 18px;
  height: 18px;
}
.gmaster-page span,
.gmaster-content span,
.gmaster span {
  display: inline-block;
}
.gmaster-page table,
.gmaster-content table,
.gmaster table {
  border: 0;
  border-spacing: 0;
}
.gmaster-page table th,
.gmaster-content table th,
.gmaster table th {
  text-align: left;
}
.gmaster-page table th,
.gmaster-content table th,
.gmaster table th,
.gmaster-page table td,
.gmaster-content table td,
.gmaster table td {
  padding: 8px 15px;
}
.gmaster-page table tbody tr:nth-child(odd),
.gmaster-content table tbody tr:nth-child(odd),
.gmaster table tbody tr:nth-child(odd) {
  background-color: rgba(242, 245, 245, 0.8);
}
.gmaster-page table.hover tr:hover,
.gmaster-content table.hover tr:hover,
.gmaster table.hover tr:hover {
  background-color: rgba(0, 83, 255, 0.15);
}
.gmaster-page table.hover tr:nth-child(odd):hover,
.gmaster-content table.hover tr:nth-child(odd):hover,
.gmaster table.hover tr:nth-child(odd):hover {
  background-color: rgba(0, 83, 255, 0.2);
}
.gmaster-page .pad,
.gmaster-content .pad,
.gmaster .pad {
  padding: 15px;
}
.gmaster-page .pad-left,
.gmaster-content .pad-left,
.gmaster .pad-left {
  padding-right: 15px;
}
.gmaster-page .pad-right,
.gmaster-content .pad-right,
.gmaster .pad-right {
  padding-right: 15px;
}
.gmaster-page .pad-top,
.gmaster-content .pad-top,
.gmaster .pad-top {
  padding-top: 15px;
}
.gmaster-page .pad-top-sm,
.gmaster-content .pad-top-sm,
.gmaster .pad-top-sm {
  padding-top: 5px;
}
.gmaster-page .pad-edge,
.gmaster-content .pad-edge,
.gmaster .pad-edge {
  padding: 0 15px 15px 0;
}
.gmaster-page .pad-edge-lg,
.gmaster-content .pad-edge-lg,
.gmaster .pad-edge-lg {
  padding: 0 30px 30px 0;
}
.gmaster-page .right,
.gmaster-content .right,
.gmaster .right {
  float: right;
}
.gmaster-page .text-left,
.gmaster-content .text-left,
.gmaster .text-left {
  text-align: left;
}
.gmaster-page .text-right,
.gmaster-content .text-right,
.gmaster .text-right {
  text-align: right;
}
.gmaster-page .text-center,
.gmaster-content .text-center,
.gmaster .text-center {
  text-align: center;
}
.gmaster-page .svg-icons,
.gmaster-content .svg-icons,
.gmaster .svg-icons {
  display: none;
}
.gmaster-page a.icon use,
.gmaster-content a.icon use,
.gmaster a.icon use {
  width: 16px;
}
/* //////////////////////////////////////////////////////////////////////// */
/* App Toolbar */
.gmaster-button {
  background-color: #555;
  color: #fff;
  font-size: 0.875rem;
  border-radius: 4px;
  width: auto !important;
  height: 30px !important;
  padding: 0 16px;
  line-height: 2.1;
  display: inline-block;
}
.gmaster-button:hover {
  text-decoration: none;
  background-color: #333;
}
/* //////////////////////////////////////////////////////////////////////// */
/* Plans (Custom View) */
.gmaster-plans {
  padding-top: 20px;
  width: 100%;
  text-align: center;
  white-space: nowrap;
}
.gmaster-plans .header {
  width: 100%;
  text-align: center;
}
.gmaster-plans .header .logo {
  padding-bottom: 10px;
}
.gmaster-plans .header .logo img {
  width: 200px;
}
.gmaster-plans .header span {
  font-size: 32px;
  font-weight: 400;
  display: inline-block;
  padding-bottom: 30px;
}
.gmaster-plans .plan-schedule {
  padding-bottom: 30px;
}
.gmaster-plans .schedule-switch {
  border: 2px solid #bbb;
  border-radius: 20px;
  max-width: 150px;
  margin: 0 auto;
  overflow: hidden;
}
.gmaster-plans .schedule-switch > div {
  float: left;
  padding: 7px 15px;
  border-radius: 18px;
  color: #222;
  font-size: 14px;
  cursor: pointer;
}
.gmaster-plans .schedule-switch > .yearly {
  float: right;
}
.gmaster-plans .schedule-switch div.selected {
  background-color: #e81a1a;
  color: #fff;
}
.gmaster-plans .schedule-switch:after {
  content: '';
  clear: both;
  display: block;
}
.gmaster-plans .features {
  display: inline-block;
}
.gmaster-plans .features ul {
  padding-left: 0;
  padding-top: 142px;
  list-style: none;
  opacity: 0.7;
}
.gmaster-plans .features li {
  white-space: nowrap;
  text-align: right;
  padding: 10px 15px;
}
.gmaster-plans .plans {
  display: inline-block;
  vertical-align: top;
  box-sizing: border-box;
  border-radius: 4px;
  box-shadow: 2px 2px 4px 0px rgba(0, 0, 0, 0.2);
}
.gmaster-plans .schedule {
  display: inline-block;
  vertical-align: top;
  text-align: left;
  white-space: normal;
}
.gmaster-plans .schedule:after {
  content: '';
  display: block;
  clear: both;
}
.gmaster-plans .plan {
  float: left;
  width: 200px;
}
.gmaster-plans .plan:nth-child(n+2) {
  border-left: 1px solid rgba(0, 0, 0, 0.1);
}
.gmaster-plans .plan ul {
  padding: 0;
  list-style: none;
}
.gmaster-plans .plan li {
  text-align: center;
  padding: 10px 15px;
}
.gmaster-plans .plan li:nth-child(2n+1) {
  background: rgba(0, 0, 0, 0.025);
}
.gmaster-plans .plan li img {
  width: 16px;
}
.gmaster-plans .plan:nth-child(3) {
  position: relative;
  outline: 1px solid #1a73e8;
}
.gmaster-plans .plan:nth-child(3):after {
  position: absolute;
  background: #1a73e8;
  color: #fff;
  text-align: center;
  content: 'Recommended Plan';
  font-size: 14px !important;
  width: calc(100% + 3px);
  padding: 7px;
  box-sizing: border-box;
  left: -2px;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
}
.gmaster-plans .plan-features {
  height: 400px;
}
.gmaster-plans .head {
  text-align: center;
  padding: 15px;
}
.gmaster-plans .head h3 {
  width: 100%;
}
.gmaster-plans .head .price {
  font-size: 30px;
}
.gmaster-plans .head .price span {
  font-size: 22px;
  color: #666;
  display: inline-block;
  padding: 4px 4px 0 0;
  vertical-align: top;
}
.gmaster-plans .head p {
  vertical-align: bottom;
}
.gmaster-plans .extra-info {
  padding: 10px;
  text-align: center;
}
.gmaster-plans .buttons {
  text-align: center;
  padding: 0 0 30px 0;
}
.gmaster-plans a.button {
  background: #e81a1a;
}
.gmaster-plans a.button:hover {
  background: #ff4800;
}
/* //////////////////////////////////////////////////////////////////////// */
/* Subscribe Modal */
.total-users-form .summary {
  padding-bottom: 15px;
}
.total-users-form .sub-total {
  padding: 15px 0 0 0;
}
.total-users-form .sub-total span.price {
  font-size: 24px;
  font-weight: 400;
}
.total-users-form .sub-total span.schedule {
  font-size: 15px;
}
.total-users-form .sub-total span.error {
  font-size: 15px;
  color: #cc0000;
  font-weight: bold;
}
.total-users-form .member-count {
  padding: 7px 0 0 0;
  font-size: 15px;
}
.total-users-form .owed-today {
  font-size: 15px;
  border-radius: 4px;
  background-color: #cae9ff;
  padding: 10px;
  margin-top: 20px;
}
.total-users-form .owed-today .price {
  font-size: 20px;
  font-weight: 400;
  padding-bottom: 10px;
}
.total-users-form .owed-today .charged {
  padding-bottom: 10px;
}
.modal .members-list {
  margin-top: 10px;
  padding: 5px;
  max-height: 180px;
  overflow-y: auto;
}
.modal .new-member {
  padding: 6px 8px;
  text-align: left;
  background-color: #eee;
  border-radius: 4px;
  margin: 5px;
}
.modal .new-member span {
  float: left;
  display: inline-block;
}
.modal .new-member:after {
  content: '';
  clear: both;
  display: block;
}
.modal .remove-member {
  font-size: 17px;
  color: rgba(0, 0, 0, 0.2);
  float: right;
  cursor: pointer;
}
.modal .remove-member:hover {
  color: #cc0000;
}
.modal .remove-member:active {
  color: #ff0000;
}
/* //////////////////////////////////////////////////////////////////////// */
/* Change Subscription Plan Modal */
.change-plans ul {
  list-style: none;
}
.change-plans li {
  padding: 4px 7px;
  margin-bottom: 5px;
}
.change-plans li:hover {
  box-shadow: inset 1px 0 0 #dadce0, inset -1px 0 0 #dadce0, 0 1px 2px 0 rgba(60, 64, 67, 0.3), 0 1px 3px 1px rgba(60, 64, 67, 0.15);
}
.change-plans li:after {
  content: '';
  clear: both;
  display: block;
}
.change-plans li > div {
  float: left;
}
.change-plans li div.name {
  font-weight: bold;
}
.change-plans li div.price {
  float: right;
  padding-right: 20px;
}
.change-plans li div.select {
  float: right;
}
.change-plans li span {
  display: inline-block;
  padding-top: 5px;
}
.change-plans li.year:first-child {
  margin-top: 15px;
}
/* //////////////////////////////////////////////////////////////////////// */
/* Addressbook Entry Details Modal */
.entry-details .row.inner {
  width: calc(100% - 20px);
}
/* //////////////////////////////////////////////////////////////////////// */
/* Compose View */
.button-switch {
  background-color: rgba(0, 0, 0, 0.15);
  border-radius: 50px;
  height: 20px;
  width: 40px;
  cursor: pointer;
}
.button-switch .knob {
  background-color: #585858;
  position: relative;
  left: 0;
  width: 20px;
  height: 20px;
  border-radius: 50px;
  animation: switch-knob-off 0.2s ease-in 1;
}
.button-switch.selected {
  background-color: rgba(79, 180, 66, 0.3);
}
.button-switch.selected .knob {
  left: 20px;
  background-color: #4fb442;
  animation: switch-knob-on 0.2s ease-in 1;
}
.switch-label {
  padding: 2px 0 0 10px;
}
@keyframes switch-knob-off {
  0% {
    left: 20px;
  }
  100% {
    left: 0px;
  }
}
@keyframes switch-knob-on {
  0% {
    left: 0px;
  }
  100% {
    left: 20px;
  }
}
.compose-button {
  cursor: pointer;
}
.compose-button.inboxsdk__composeButton,
.compose-button.inboxsdk__button_icon {
  opacity: 1 !important;
}
.compose-save-button {
  background-color: #1a73e8;
  color: #fff;
  font-size: 0.875rem;
  border-radius: 4px;
  width: auto !important;
  height: 36px !important;
  padding: 0 16px;
  line-height: 2.5;
}
.compose-save-button:after {
  content: "Save Campaign" !important;
  position: relative;
}
.compose-save-button:hover {
  background-color: #297be6;
  box-shadow: 0 1px 2px 0 rgba(26, 115, 232, 0.451), 0 1px 3px 1px rgba(26, 115, 232, 0.302);
}
/* /////////////////////////////////////////////////////////////////////// */
/* InboxSDK overrides */
.inboxsdk__composeButton {
  width: auto !important;
}
