.gmaster-page .col,
.gmaster-content .col {
  display: inline-block;
  float: left;
}
.gmaster-page .col.two,
.gmaster-content .col.two {
  width: 16.41%;
}
.gmaster-page .col.three,
.gmaster-content .col.three {
  width: 25%;
}
.gmaster-page .col.four,
.gmaster-content .col.four {
  width: 33.333339%;
}
.gmaster-page .col.six,
.gmaster-content .col.six {
  width: 50%;
}
.gmaster-page .col.eight,
.gmaster-content .col.eight {
  width: 66.66669%;
}
.gmaster-page .row,
.gmaster-content .row {
  width: 100%;
}
.gmaster-page .row:after,
.gmaster-content .row:after {
  clear: both;
  display: block;
  content: '';
  font-size: 0;
}
.gmaster-page button,
.gmaster-content button,
.gmaster-page .button,
.gmaster-content .button {
  border: 0;
  background-color: #1a73e8;
  color: #fff;
  font-size: 0.875rem;
  border-radius: 4px;
  width: auto !important;
  height: 30px !important;
  padding: 0 16px !important;
  line-height: 2.1;
  display: inline-block;
}
.gmaster-page button:hover,
.gmaster-content button:hover,
.gmaster-page .button:hover,
.gmaster-content .button:hover {
  text-decoration: none;
  background-color: #0053ff;
  cursor: pointer;
}
.gmaster-page button.btn-warn,
.gmaster-content button.btn-warn,
.gmaster-page .button.btn-warn,
.gmaster-content .button.btn-warn {
  background-color: #ff6a00;
}
.gmaster-page button.btn-warn:hover,
.gmaster-content button.btn-warn:hover,
.gmaster-page .button.btn-warn:hover,
.gmaster-content .button.btn-warn:hover {
  background-color: #ff4e00;
}
.gmaster-page button.btn-cancel,
.gmaster-content button.btn-cancel,
.gmaster-page .button.btn-cancel,
.gmaster-content .button.btn-cancel {
  background-color: #666;
}
.gmaster-page button.btn-cancel:hover,
.gmaster-content button.btn-cancel:hover,
.gmaster-page .button.btn-cancel:hover,
.gmaster-content .button.btn-cancel:hover {
  background-color: #ff3e00;
}
.gmaster-page table,
.gmaster-content table {
  border: 0;
  border-spacing: 0;
}
.gmaster-page table th,
.gmaster-content table th {
  text-align: left;
}
.gmaster-page table th,
.gmaster-content table th,
.gmaster-page table td,
.gmaster-content table td {
  padding: 8px 15px;
}
.gmaster-page table tbody tr:nth-child(odd),
.gmaster-content table tbody tr:nth-child(odd) {
  background-color: rgba(242, 245, 245, 0.8);
}
.gmaster-page table.hover tr:hover,
.gmaster-content table.hover tr:hover {
  background-color: rgba(0, 83, 255, 0.15);
}
.gmaster-page table.hover tr:nth-child(odd):hover,
.gmaster-content table.hover tr:nth-child(odd):hover {
  background-color: rgba(0, 83, 255, 0.2);
}
.gmaster-page .pad,
.gmaster-content .pad {
  padding: 15px;
}
.gmaster-page .pad-right,
.gmaster-content .pad-right {
  padding-right: 15px;
}
.gmaster-page .pad-top,
.gmaster-content .pad-top {
  padding-top: 15px;
}
.gmaster-page .pad-top-sm,
.gmaster-content .pad-top-sm {
  padding-top: 5px;
}
.gmaster-page .pad-edge,
.gmaster-content .pad-edge {
  padding: 0 15px 15px 0;
}
.gmaster-page .pad-edge-lg,
.gmaster-content .pad-edge-lg {
  padding: 0 30px 30px 0;
}
.gmaster-page .right,
.gmaster-content .right {
  float: right;
}
.gmaster-page .text-right,
.gmaster-content .text-right {
  text-align: right;
}
.gmaster-page .text-center,
.gmaster-content .text-center {
  text-align: center;
}
.gmaster-page .svg-icons,
.gmaster-content .svg-icons {
  display: none;
}
.gmaster-page a.icon use,
.gmaster-content a.icon use {
  width: 16px;
}
