
@{
    ViewData["Title"] = "GMaster";
    ViewData["Description"] = "Complete Mastery for GMail, with Mass Mail Campaigns, Multi-Chained Auto-Followup Campaigns, Customizable Address Book, Email Q/A Polls, and much more.";
    Layout = "~/Views/_Layout.cshtml";
}

<h2>GMaster</h2>

