<style>
    .subscription-page > .title{padding:0 0 10px 5px; font-size:20px;}
    .subscription-page .head{padding:15px 5px;}
    .subscription-page .head .title{display:inline-block; padding-right:20px; vertical-align:bottom;}
    .subscription-page .head .title > * {margin-block-start:0; margin-block-end:0; font-weight:400;}

    .subscription-page .head button{margin-left:10px;}

    .subscription-page table{width:100%;}
    .subscription-page table tbody tr{cursor:pointer;}

    @keyframes new-entry {
      0%   { background-color: rgba(255, 114, 0, 0.20) !important; }
      40%   { background-color: rgba(255, 114, 0, 0.20) !important; }
      80% { background-color: rgba(255, 114, 0, 0) !important; }
      100% { background-color: transparent; }
    }

    .subscription-page table tbody tr.is-new{animation:new-entry 6s ease-in 1; background-color:rgba(255, 114, 0, 0.20) !important}
</style>
<div class="head">
    <div class="title"><h2>Address Book for {{team-name}}</h2></div>
    <div class="right">
        <button class="btn-importcontacts">Import Contacts</button>
        <button class="btn-addcontact">Add Contact</button>
    </div>
</div>
<div class="addressbook-list">
    <table class="hover">
        <tbody>
            {{entries}}
        </tbody>
    </table>
</div>

<div class="svg-icons">{{svg}}</div>
