{{gmail-styles}}
<style>
    .subscription-page > .title{padding:0 0 10px 5px; font-size:20px;}
    .subscription-page .head{padding:15px 5px;}
    .subscription-page .head .title{display:inline-block; padding-right:20px; vertical-align:bottom;}
    .subscription-page .head .title > *,
    .subscription-page h1,
    .subscription-page h2,
    .subscription-page h3,
    .subscription-page h4,
    .subscription-page h5,
    .subscription-page h6,
    .subscription-page p{margin-block-start:0; margin-block-end:0; font-weight:400;}
    .subscription-page h6{font-weight:bold;}
    .subscription-page p{padding-bottom:15px;}
    .subscription-page section{padding:30px 0 0 0;}
    .subscription-page > h3{padding-bottom:10px;}

    .subscription-page section.current-subscription{padding:8px 25px; background-color:rgba(242,245,245,0.8);}
    .current-subscription:hover{box-shadow:inset 1px 0 0 #dadce0, inset -1px 0 0 #dadce0, 0 1px 2px 0 rgba(60,64,67,.3), 0 1px 3px 1px rgba(60,64,67,.15)}
    .current-subscription span{font-size:17px; padding-right:50px; display:inline-block;}
    .current-subscription span.plan{font-weight:bold;}
    .current-subscription a.button{border-radius:50px; display:inline-block; margin-left:20px; padding:5px 15px; background-color:#1a73e8; color:#fff;}
    .current-subscription a.button:hover{background-color:#297be6; box-shadow: 0 1px 2px 0 rgba(26,115,232,0.451), 0 1px 3px 1px rgba(26,115,232,0.302);}

    .subscription-page .buttons{padding:0 0 15px 0;}

    .subscription-page table tbody tr.Overdue{background-color:#ffb6b6; color:#840000;}
    .subscription-page table tbody tr.Due{background-color:#c3e4fb; color:#002e66;}
    .subscription-page table tbody tr.Paid{background-color:#d2f7d5; color:#063b00;}

    .subscription-page table tbody tr.Overdue:nth-child(odd){background-color:#fca8a8; color:#840000;}
    .subscription-page table tbody tr.Due:nth-child(odd){background-color:#b8daf1; color:#002e66;}
    .subscription-page table tbody tr.Paid:nth-child(odd){background-color:#bdefc1; color:#063b00;}
</style>
<div class="head">
    <div class="title"><h2>Subscription for Gmaster</h2></div>
</div>

<h3>Current Subscription for {{subscription.owner}}</h3>

<section class="current-subscription">
    <span class="plan">{{subscription.name}} Plan</span>
    <span class="price">{{subscription.price}} / {{subscription.schedule}}</span>
    <span><b>{{subscription.users}}</b> team member{{subscription.plural}}</span>
    {{is-outstanding}}
    <span>{{outstanding.price}} {{outstanding.when}} due on <b>{{outstanding.duedate}}</b></span>
    {{/is-outstanding}}
</section>

{{can-modify}}
<section class="modify">
    {{is-team}}
    <h3>Modify Team</h3>
    <p>
        Add or remove members on your team.
        <div class="buttons">
            <button class="modify-team">Modify Team</button>
        </div>
    </p>

    <h3>Modify Subscription</h3>
    <p>
        {{is-monthly}}Upgrade to a yearly <b>Team</b> subscription, {{/is-monthly}}
        {{is-yearly}}Downgrade to a monthly <b>Team</b> subscription, {{/is-yearly}}
        or downgrade to a more basic subscription that will remove collaborative features.
        <div class="buttons">
            <button class="btn-change">Modify Subscription</button>
        </div>
    </p>
    {{/is-team}}
    {{is-not-team}}
    <h3>Modify Subscription</h3>
    <p>
        Upgrade your subscription and unlock more features{{can-downgrade}}, or downgrade to a more basic plan{{/can-downgrade}}. 
        If you'd like to collaborate on campaigns, upgrade to the <b>Team</b> plan.
        <div class="buttons">
            <button class="btn-change">Modify Subscription</button>
        </div>
    </p>
    {{/is-not-team}}
</section>
{{/can-modify}}

{{can-cancel}}
<section class="cancellation">
    <h3>Cancel Subscription</h3>
    <p>
        {{is-new}}
        Because you subscribed within the past 48 hours and haven't run any campaigns yet, you can cancel your subscription and get a <b>full refund</b>.
        {{/is-new}}
        {{is-old-month}}
        Once you cancel, you'll have access to all of your plan features until the end of the current billing cycle (<b>{{outstanding.duedate}}</b>).
        {{/is-old-month}}
        {{is-old-year}}
        Once you cancel, you'll have access to all of your plan features until <b>{{cancellation.enddate}}</b>, 
        and you'll receive a partial refund based on the amount of time that has passed since your subscription has started.
        {{/is-old-year}}
        <div class="buttons">
            <button class="btn-cancel">Cancel Subscription</button>
        </div>
    </p>
</section>
{{/can-cancel}}



<div class="row">
    <div class="col six">
        <section class="invoices">
            <h3>Invoices</h3>
            <table>
                <thead>
                    <tr>
                        <th>Due Date</th>
                        <th>Amount</th>
                        <th>Status</th>
                    </tr>
                </thead>
                <tbody>{{invoices}}</tbody>
            </table>
        </section>
    </div>
    <div class="col six">
        <section class="payments">
            <h3>Payments</h3>
            <table>
                <thead>
                    <tr>
                        <th>Date</th>
                        <th>Amount</th>
                    </tr>
                </thead>
                <tbody>{{payments}}</tbody>
            </table>
        </section>
    </div>
</div>

<div class="row">
    <div class="col six">
        <section class="payments">
            <h3>Change History</h3>
            <table>
                <thead>
                    <tr>
                        <th>Date</th>
                        <th>Description</th>
                        <th>Members</th>
                    </tr>
                </thead>
                <tbody>{{history}}</tbody>
            </table>
        </section>
    </div>
</div>

