{{gmail-styles}}
<style>
    .subscription-page > .title{padding:0 0 10px 5px; font-size:20px;}
    .subscription-page .head{padding:15px 5px;}
    .subscription-page .head .title{display:inline-block; padding-right:20px; vertical-align:bottom;}
    .subscription-page .head .title > * {margin-block-start:0; margin-block-end:0; font-weight:400;}

    .subscription-page table{width:100%;}
    .subscription-page table tbody tr.Overdue:nth-child(odd){background-color:#fca8a8; color:#840000;}
    .subscription-page table tbody tr.Due:nth-child(odd){background-color:#b8daf1; color:#002e66;}
    .subscription-page table tbody tr.Paid:nth-child(odd){background-color:#bdefc1; color:#063b00;}
</style>
<div class="head">
    <div class="title"><h2>Team Members for {{team-name}}</h2></div>
    <div class="right">
        <button class="btn-manageteam">Manage Team Members</button>
    </div>
    <div class="right pad-right pad-top-sm">
        {{total-members}} total members
    </div>
</div>
<div class="team-list">
    <table>
        <tbody>
            {{members}}
        </tbody>
    </table>
</div>
